<!DOCTYPE html>
<html>
  <head>
    <title>CB-Platform ✨</title>
    <link rel="stylesheet" href="/design/get-started/static/style.css">
    <link rel="stylesheet" href="./poject-page.js">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header class="header_main">
      <div>
        <a href="/main" style="color: transparent;">
          <button class="home-button">CB-Platform ✨</button>
        </a>
      </div>
      <div class="main-search">
        <input type="search" placeholder="Search...">
      </div>
      <div class="right-icons">
        <a href="/notifications" style="color: transparent;">
          <button class="mail"><samp>&#9993;</samp></button>
        </a>
        <a href="/sign-up" style="color: transparent;">
          <button class="sign-up">Sign Up</button>
        </a>
        <a href="/sign-in" style="color: transparent;">
          <button class="sign-in">Sign In</button>
        </a>
      </div>
    </header>    
  </body>
</html>