@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100..800&family=Anybody:ital,wght@0,100..900;1,100..900&family=Assistant:wght@200..800&family=Athiti:wght@200;300;400;500;600;700&family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Bakbak+One&family=Bevan:ital@0;1&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

.page {
    background-color: #DEDEDE;
    width: 100%;
    height: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.sign-up {
    width: 518px;
    height: 447px; 
    background-color: #ffffff; 
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #f0f0f0;
}

.title-up {
    font-size: 180%;
    margin-top: 50px;
    font-family: 'Averia Sans Libre';
}

.sub-title-up {
    margin: 0px;
    font-size: 120%;
    font-family: 'Averia Sans Libre';
}

.create-link {
    color: black;
}

input[type="email"], input[type="password"] {
    width: 85%;
    padding: 8px; 
    box-sizing: border-box;
    border-radius: 15px;
    height: 42px;
    font-family: 'Anek Kannada';
    font-size: 20px;
    
}

.started {
    margin-top: 20px;
    width: 70%;
    border: none;
    background-color: #1E2025;
    border-radius: 20px;
    height: 45px;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Averia Sans Libre';
    cursor: pointer;
    transition: 0.3s;
}

.sign-in {
    color: rgb(0, 0, 0);
    border: none;
    background-color: rgb(255, 255, 255);
    height: 36px;
    width: 87px;
    cursor: pointer;
    border-radius: 12px;
    font-size: 17px;
    font-family: 'Averia Sans Libre'
}
    
.google {
    color: black;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    width: 50%;
    height: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.started:hover{
    color: #a7a7a7;
}
.google:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
