<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/design/get-started/static/style.css">
    
    <title>Get Started</title>
</head>

    <header class="header_main">
        <div>
          <a href="/main" style="color: transparent;">
            <button class="home-button">CB-Platform ✨</button>
          </a>
        </div>
        <div class="main-search">
          <input type="search" placeholder="Search...">
        </div>
        <div class="right-icons">

          <a href="/sign-up" style="color: transparent;">
            <button class="sign-up">Sign Up</button>
          </a>
          <a href="/sign-in" style="color: transparent;">
            <button class="sign-in">Sign In</button>
          </a>
        </div>
      </header>
      <body>
      <div class="header-text">
        <b><button class="let-start">Let's Start</button> Together With <br>CB-Platform</b>
      </div>
        <div>
          <img class="main-img" src="/design/get-started/static/images/main.png">
        </div>
        <div style="width: 827px;">
        <p class="main-text">From the developers: We believe in the power of unity and charity. Through CB-Platform, we give everyone the opportunity to make the world a better place. Join our community and help us support and implement projects that make a difference in our world.</p>
          <br>
        <p class="main-text">The CB-Platform project is an innovative platform for creating and supporting charitable projects and initiatives. Our mission is to bring people together and inspire good deeds. Together we can change the world!</p>
      </div>
      <div class="white-banner">
        On the homepage of our website, you will find
      </div>
    </body>
</html>