<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/design/get-started/static/style.css">
    
    <title>Get Started</title>
</head>
<body>
    <header class="header_main">
        <div>
          <a href="/main" style="color: transparent;">
            <button class="home-button">CB-Platform ✨</button>
          </a>
        </div>
        <div class="main-search">
          <input type="search" placeholder="Search...">
        </div>
        <div class="right-icons">

          <a href="/sign-up" style="color: transparent;">
            <button class="sign-up">Sign Up</button>
          </a>
          <a href="/sign-in" style="color: transparent;">
            <button class="sign-in">Sign In</button>
          </a>
        </div>
      </header>
      <div class="header-text">
        <b><button class="let-start">Let's Start</button>Together With CB-Platform</b>
      </div>
    </body>
</html>