@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wdth,wght@100.4,100..800&family=Anybody:ital,wght@0,100..900;1,100..900&family=Assistant:wght@200..800&family=Athiti:wght@200;300;400;500;600;700&family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Bakbak+One&family=Bevan:ital@0;1&family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wdth,wght@100.4,100..800&family=Anybody:ital,wght@0,100..900;1,100..900&family=Assistant:wght@200..800&family=Athiti:wght@200;300;400;500;600;700&family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Bakbak+One&family=Bevan:ital@0;1&family=Cabin:ital,wght@0,400..700;1,400..700&family=Gemunu+Libre:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wdth,wght@100.4,100..800&family=Anybody:ital,wght@0,100..900;1,100..900&family=Assistant:wght@200..800&family=Athiti:wght@200;300;400;500;600;700&family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Bakbak+One&family=Bevan:ital@0;1&family=Cabin:ital,wght@0,400..700;1,400..700&family=Gemunu+Libre:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wdth,wght@100.4,100..800&family=Anybody:ital,wght@0,100..900;1,100..900&family=Assistant:wght@200..800&family=Athiti:wght@200;300;400;500;600;700&family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Bakbak+One&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bevan:ital@0;1&family=Cabin:ital,wght@0,400..700;1,400..700&family=Gemunu+Libre:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.profile-page{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #ececec;
}

.profile-top{
    height: 40%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

}

.profile-bottom{
    height: 60%;
    background-color: transparent;
}

.avatar-back {
    background-color: white;
    height: 80%;
    width: 40%;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.avatar-profile{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.name{
    color: black;
    font-size: 46px;
    margin: 10px;
    font-family: 'Bai Jamjuree';
}

.location{
    margin: 0px;
    font-size: 22px;
    color: rgba(0, 0, 0, 48%);
    font-family: 'Bakbak One';
}

.tab {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
}

.tablinks{
    font-size: 18px;
    font-family: 'Bai Jamjuree';
    

}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 16px;
    border-top: none;
}

.tab .active-line {
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 4px;
    background-color: white;
    transition: left 0.3s ease;
    
}

.home-tab{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.info{
    margin: 0px;
    font-size: 50px;
    font-family: 'Gemunu Libre';
}

.prof{
    margin: 0px;
    font-family: 'Montserrat';
    font: bold;
}

.description-profile{
    background-color: #ffffff;
    height: 500px;
    width: 1321px;
    border-radius: 64px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.description-profile p {
    margin: 40px;
    font-size: 20px;
    font-family: 'Barlow Semi Condensed';

}

.info-tegs{
    display: flex;
    justify-content:space-between;
}

.info-tegs div{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    width: 151px;
    height: 72px;
    background-color: #1E2025;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.info-tegs p {
    font-family: 'Montserrat';
    font-size: 16px;
    margin: 0px;
    text-align: center;
}

.my-projects-tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
}

.my-projects-buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 200px;
    height: 59px;
    border-radius: 18px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);  
    transition: 0.3s; 
}

.my-projects-buttons p {
    font-family: 'Montserrat';
    font-size: 16px;
    margin: 0px;
    text-align: center;
    font-size: 25px;
}

.my-projects-buttons:hover{
    background-color: #e2e2e2;
}

.my-projects-buttons:active{
    background-color: #ccc;
}